* {
	font-family: monospace;
}

#header {
	display: flex;
	height: 50px;
	width: 100%;
}

#container {
	display: inline-block;
	flex: 1;
}

#header input {
	height: 100%;
	vertical-align: top;
}

#command {
	/*width: 70%;*/
	border: 1px solid #BBB;
	font-size: 30px;
	width: 100%;
}

#console {
	font-size: 23px;
	white-space: pre;
}

#console div div {
	display: inline;
}

.fn_def > div,
.fn_call > div {
	margin-right: 30px;
}

.fn_def .params,
.fn_call .params {
	color: blue;
}
